# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Unordered list
* List popular languages for Data Science
* Data Science Tools
* Some of the commonly used libraries used by Data Scientists

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. TensorFlow
4. PyTorch

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| R Studio           |
| Anaconda           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
ALEMAWO ABLA RUTH